@using C = Doppelkopf.Core.App;
@using Enums;
@using Helper;


<div id="trick" class="frow" style="
    position: relative;
    margin: auto;
    width: @((RelSize * _maxWidth).ToDoubleString() + "px");
    height: @((RelSize * _maxHeight).ToDoubleString() + "px")"
     >

    <div class="fcol" style="
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 100%;
         height: 100%;">


        @foreach (var card in _cards)
        {

            <Card @ref=@_cardViews[card.NoInTrick - 1]
                  Layout=@Layout
                  AbsolutPosition=@true
                  Left=@card.Left
                  Top=@card.Top
                  Width=@rW("ww")
                  Height=@rH("hh")
                  RelativeSize=@RelSize
                  Rotation=@card.Rotation
                  OnClick=@(card.OwnCard ? OnOwnCardClick : OnOtherCardClick) />

        }


        <div style="position: absolute; right: 0px; bottom: @(rH("wg"))">

            <DButton @ref=@_button
                     ImgName=@(Button == ButtonType.Take ? DButton.ButtonImgName.takeTrick : DButton.ButtonImgName.lastTrickBack)
                     Size=@ButtonSize
                     Visible=false
                     OnClick=@(x => OnButtonClick.InvokeAsync(x))>


            </DButton>
        </div>



    </div>

</div>


@code {

    private const float GAP_REL = .1f;

    public enum ButtonType
    {
        None, Take, Back
    }

    [Parameter]
    public C.Trick Trick { get; set; }

    [Parameter]
    public int PlayerNo { get; set; }

    [Parameter]
    public C.Config.Layout Layout { get; set; }

    [Parameter]
    public double RelSize { get; set; } = 1;

    [Parameter]
    public EventCallback<object> OnButtonClick { get; set; }

    [Parameter]
    public EventCallback<C.Card> OnOwnCardClick { get; set; }

    //[Parameter]
    private EventCallback<C.Card> OnOtherCardClick { get; set; }

    [Parameter]
    public ButtonType Button { get; set; } = ButtonType.None;

    [Parameter]
    public DButton.ButtonSize ButtonSize { get; set; } = DButton.ButtonSize.Regular;

    private Card[] _cardViews = new Card[4];
    private DButton _button;

    private int _id = (new Random()).Next();
    private string Id => "trick-" + _id;

    private List<(int NoInTrick, string Left, string Top, int Rotation, bool OwnCard)> _cards { get; set; }

    private int _gap;
    private int _cw;
    private int _ch;
    private int _whGap;

    private double _maxWidth => 2 * _ch + 2 * _gap + _cw;
    private double _maxHeight => 2 * _ch + 2 * _gap;

    private double _relW;
    private double _relH;

    private bool shouldRender = false;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        initSizes();

        Trick.OnChanged += StateHasChanged;
    }

    public void Refresh()
    {
        shouldRender = true;
        StateHasChanged();
        shouldRender = false;
    }

    private void initSizes()
    {

        _cw = Layout.CardLayout.Value.Width.Value;
        _ch = Layout.CardLayout.Value.Height.Value;

        //Console.WriteLine("Height: " + _ch);

        _gap = (int)(_ch * .1);
        //Console.WriteLine("gap: " + _gap);

        _whGap = (_ch - _cw);

        _relW = 100 / _maxWidth;
        _relH = 100 / _maxHeight;
        //Console.WriteLine("rel: " + _rel);


        //var Trick = new[] { 0, 0, 0, 0, 0 };


        _cards = new List<(int, string, string, int, bool)>()
{
            (1,  rW("hhgg"),      rH("hhgg"),  0, true),
            (2,  rW("t"),         rH("hg"),    1, false),
            (3,  rW("hhgg"),      rH(""),      0, false),
            (4,  rW("hhggwwggt"), rH("hg"),   -1, false)
        };



        //Console.WriteLine(_cw + " " + _ch + " " + _gap + " " + _whGap);
    }

    protected override bool ShouldRender()
    {
        Console.WriteLine($"TrickView {(shouldRender ? "" : "no ")}render ");
        return shouldRender;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        Console.WriteLine("TrickView render " + (firstRender ? "(first)" : ""));
    }

    private string r(double x, double rel)
    {
        return (rel * x).ToString().Replace(',', '.') + "%";
    }

    private string r(string spaceChars, double rel)
    {
        if (string.IsNullOrEmpty(spaceChars))
        {
            return "0%";
        }
        return r(spaceChars.ToCharArray()
                            .Select(c => (c == lower(c), lower(c)))
                            .Sum(p => double.Parse(p.Item2.ToString()
                                                            .Replace("g", _gap.ToString())
                                                            .Replace("w", _cw.ToString())
                                                            .Replace("h", _ch.ToString())
                                                            .Replace("t", _whGap.ToString()))
                           * (p.Item1 ? 1 : -1) / 2), rel);
    }

    private string rW(string spaceChars)
    {
        return r(spaceChars, _relW);
    }

    private string rH(string spaceChars)
    {
        return r(spaceChars, _relH);
    }

    private char lower(char c)
    {
        return c.ToString().ToLower()[0];
    }

    private int playerPosition(int playerNo)
    {
        return (playerNo - PlayerNo + 4) % 4 + 1;
    }

    private int positionPlayer(int position)
    {
        for (var i = 1; i <= 4; i++)
        {
            if (playerPosition(i) == position)
            {
                return i;
            }
        }
        return -1;
    }


    //max-width: @(((_ch + _gap - _whGap) * 2 + _cw) + "px");
    //        max-height: @((int.Parse(Layout["cardHeight"]) + _gap* 2) + "px");

    public void Refresh(C.Trick trick)
    {
        Trick = trick;
        for (int i = 1; i <= 4; i++)
        {
            _cardViews[i - 1].Refresh(Trick[positionPlayer(i)]);
        }

        _button.Refresh(Button != ButtonType.None && Trick.Complete);
        //StateHasChanged();
    }

    public void Refresh(C.Config.Layout layout)
    {
        Layout = layout;

        initSizes();
        Refresh();

        for (int i = 1; i <= 4; i++)
        {
            _cardViews[i - 1].Refresh(layout);
        }
    }
}
